.child-div  
{
    margin-top: 150px!important;
    margin:auto;
    height:250px;
    width:220px;
    align-items: center;
    
   
}
.addItems
{
    border:1px solid white; 
    background-color: white;  
    align-items: center;
    box-shadow:3px 3px 3px 3px; 
}
.showItem .eachItem
{
    border:1px solid white; 
    background-color: teal;  
    align-items: center;
    box-shadow:3px 3px 3px 3px; 
}